@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  /* typography */
  --font-family-primary: 'Barlow', sans-serif;
  --font-family-secondary: 'Fraunces', serif;

  /* colors primary*/
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* colors neutral */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%)
}
*{
  font-family: var(--font-family-primary);
  margin: 0px;
}
h1, h2, h3, h4, h5{
  font-family: var(--font-family-secondary);
}

/* navbar styles */
header{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 25px;
  box-sizing: border-box;
  top: 0;
  z-index: 1;
}
header img{
  object-fit: contain;
}
header .hamburguer{
  position: relative;
}
header ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 90%;
  padding: 40px;
  background-color: var(--white);
  position: absolute;
  box-sizing: border-box;
  top: 100px;
  left: 5%;
}
header ul a{
  color: var(--very-dark-grayish-blue);
  text-decoration: none;
  font-weight: 400;
}
header ul .contact{
  display: flex;
  padding: 12px 22px;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
  background: var(--yellow);
  color: var(--very-dark-desaturated-blue);
}
/* header ul{
  flex-flow: row wrap;
  gap: 40px;
  background-color: none;
  position: fixed;
} */
/* header ul a{
  color: var(--white);
} */
/* header ul .contact{
  background: var(--white);
} */

/* about styles */

.about{
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('./images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  gap: 70px;
}
.about h1{
  font-size: 50px;
  letter-spacing: 5px;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
.about img{
  height: 80px;
}

/* services styles */

.services .content{
  display: flex;
  flex-wrap: wrap;
}
.services .card{
  /* max-width: 50vw; */
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.services .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services .with-text{
  padding: 40px;
}
.services h1{
  color: var(--very-dark-desaturated-blue);
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}
.services p{
  color: var(--dark-grayish-blue);
  font-weight: 400;
  text-align: center;
  line-height: 27px;
}
.services a{
  color: var(--very-dark-desaturated-blue);
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-weight: 900;
}

/* projects styles */
.projects .card{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}
.projects .info{
  max-width: 100%;
  margin: 40px;
  margin-bottom: 74px;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  text-align: center;
}
.projects .info h5{
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 40px;
}
.projects .info p{
  line-height: 30px;
}
.design{
  color: var(--dark-desaturated-cyan);
}
.photography{
  color: var(--dark-blue);
}
.projects img{
  width: 100%;
  height: 100%;
}

/* testimonials styles */

/* gallery styles */

/* footer styles */